.orders {
  overflow: auto;
  border-radius: var(--br-3);
  background-color: #fff;
  border: 2px solid var(--c-grey);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.order-container {
  padding: var(--p-5) 0;
}
.order-container > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.orders .headings {
  border-radius: var(--br-3) var(--br-3) 0 0;
  padding: var(--p-3) 0;
  background-color: var(--c-secondary-200);
}
.orders .sub-title {
  font-size: 0.9rem;
}
.order-container div * {
  text-align: center;
  overflow: hidden;
  padding: var(--p-2);
}
.order-products {
  margin: 1rem 0 !important;
  display: flex!important;
}
@media all and (min-width: 600px) {
  .order-container {
    padding: var(--p-5);
  }
  .orders .sub-title {
    font-size: var(--fsz-1);
  }
}
