:root {
  --c-primary-200: #016673;
  --c-secondary-200: #97a6ba;
}
body {
  background-color: #f9fafb;
  --nav-width: 80px;
}
.App {
  font-family: "Inter", sans-serif;
}
/* utility classes */
.main {
  display: flex;
}
.icon {
  height: 1.5rem !important;
}
.container {
  box-sizing: border-box;
  width: calc(100vw - var(--nav-width));
  margin-top: 60px;
  margin-left: var(--nav-width);
}
.sub-title {
  font-size: var(--fsz-1);
  font-weight: 500;
  text-transform: capitalize;
}
.c-white {
  color: #fff;
}
.text-sm {
  font-size: 0.8rem;
}
.icon-input {
  width: 19.8rem;
}
.icon {
  height: 20px;
}
.btn-reset {
  background-color: transparent;
  border: 0;
}
.form-margin{
  margin: 1rem auto 0!important;
}
.form label{
  text-transform: capitalize;
  margin: var(--p-2) 0;
}
.loader {
  display: flex;
}
.loader > span {
  display: block;
  height: 6px;
  width: 6px;
  margin: 0.3rem 0 0 0.2rem;
  background-color: currentColor;
  border-radius: 50%;
}
.loader span:nth-child(3) {
  margin-right: 0.3rem;
  margin-left: 0.2rem;
  animation: blink 1s ease-in-out 0.66s infinite;
}
.loader span:nth-child(2) {
  animation: blink 1s ease-in-out 0.33s infinite;
}
.loader span:nth-child(1) {
  animation: blink 1s ease-in-out infinite;
}
@keyframes blink {
  50% {
    background-color: var(--loader-main);
    transform: scale(1.2);
  }
}

@media all and (min-width: 600px) {
  body {
    --nav-width: 18vw;
  }
}
